In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(
{
    "type": ["E/2", "E/2", "E/2", "E/2"],
    "subtype1": ["N2", "N2", "N2", "N2"],
    "subtype2": ["a", "a", "b", np.nan],
    "subtype3": [np.nan, np.nan, np.nan, "xxx"],
    "flex_best": [20, np.nan, 20, np.nan],
    "flex_worst": [np.nan, 30, np.nan, 30],
    "lead_best": [23, np.nan, 23, np.nan],
    "is_best": [1, np.nan, 1, np.nan],
    "lead_worst": [np.nan, 33, np.nan, 33],
    "is_worst": [np.nan, 1, np.nan, 1],
}
)
df.head()

,type,subtype1,subtype2,subtype3,flex_best,flex_worst,lead_best,is_best,lead_worst,is_worst
0,E/2,N2,a,NaN,20.0,NaN,23.0,1.0,NaN,NaN
1,E/2,N2,a,NaN,NaN,30.0,NaN,NaN,33.0,1.0
2,E/2,N2,b,NaN,20.0,NaN,23.0,1.0,NaN,NaN
3,E/2,N2,NaN,xxx,NaN,30.0,NaN,NaN,33.0,1.0

In [5]:
def justify(a, invalid_val=0, axis=1, side='left'):    
    """
    Justifies a 2D array

    Parameters
    ----------
    A : ndarray
        Input array to be justifiedc
    axis : int
        Axis along which justification is to be made
    side : str
        Direction of justification. It could be 'left', 'right', 'up', 'down'
        It should be 'left' or 'right' for axis=1 and 'up' or 'down' for axis=0.

    """

    if invalid_val is np.nan:
        mask = pd.notnull(a)
    else:
        mask = a!=invalid_val
    justified_mask = np.sort(mask,axis=axis)
    if (side=='up') | (side=='left'):
        justified_mask = np.flip(justified_mask,axis=axis)
    out = np.full(a.shape, invalid_val, dtype=object) 
    if axis==1:
        out[justified_mask] = a[mask]
    else:
        out.T[justified_mask.T] = a.T[mask.T]
    return out

In [6]:
gp_cols = ['type', 'subtype1', 'subtype2', 'subtype3']
oth_cols = df.columns.difference(gp_cols)

arr = np.vstack(df.groupby(gp_cols, sort=False, dropna=False)
                  .apply(lambda gp: justify(gp.to_numpy(), invalid_val=np.NaN, 
                                            axis=0, side='up')))

# Reconstruct DataFrame
# Remove entirely NaN rows based on the non-grouping columns
res = (pd.DataFrame(arr, columns=df.columns)
         .dropna(how='all', subset=oth_cols, axis=0))

In [7]:
res

,type,subtype1,subtype2,subtype3,flex_best,flex_worst,lead_best,is_best,lead_worst,is_worst
0,E/2,N2,a,NaN,20.0,30.0,23.0,1.0,33.0,1.0
2,E/2,N2,b,NaN,20.0,NaN,23.0,1.0,NaN,NaN
3,E/2,N2,NaN,xxx,NaN,30.0,NaN,NaN,33.0,1.0